<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.miniproject.mappers.memberMapper">
  	<select id="currDate" resultType="string">
  		select now()
  	</select>
  	
  	<select id="viewMemberByUserId" resultType="com.miniproject.domain.MemberVo">
  		select * from member where user_id = #{userId}
  	</select>
  	
<!--   	<insert id="inputMemberWithoutImg"> -->
<!--   		insert into member(user_id, user_pwd, user_email) values (#{userId}, sha1(md5(#{userPwd})), #{userEmail}) -->
  	
<!--   	</insert> -->
  	
  	<select id="getAllMembers" resultType="com.miniproject.domain.MemberVo">
  		select * from member
  	
  	</select>
  	
  	<select id="getLoginMember" parameterType="map" resultType="com.miniproject.domain.MemberVo">
  		SELECT m.*, u.new_filename FROM member m, uploadedfile u WHERE m.user_img = u.file_id and user_id = #{userId} AND user_pwd = sha1(md5(#{userPwd}))
  	</select>

  	<select id="getPagingInfo" resultType="com.miniproject.domain.PagingInfoVo">
		SELECT * FROM pointlog WHERE user_id = #{userId } LIMIT #{startRowIndex} , #{pagePostCnt}
  	</select>

  	<select id="selectUserPointLog" resultType="com.miniproject.domain.PointlogVo">
		SELECT * FROM pointlog WHERE user_id = #{userId } 
<!-- 		LIMIT #{startRowIndex} , #{pagePostCnt} -->
  	</select>
  		
  	<select id="selectTotalPost" resultType="int">
		SELECT count(*) AS total_post FROM pointlog WHERE user_id = #{userId}
  	</select>
  		
  	<update id="updateUserPoint">
  	  	<selectKey keyProperty="eachPoint" resultType="int" order="BEFORE">
    		select each_point FROM pointpolicy WHERE point_type = #{pointType}
	 	</selectKey>
  	 	UPDATE member SET user_point = user_point + #{eachPoint} WHERE user_id = #{userId }
  	</update>
  	
  	<insert id="insertNewMember">
  		INSERT INTO member (user_id, user_pwd, user_email, user_point) values (#{userId}, sha1(md5(#{userPwd})), #{userEmail}, #{user_Point})
  	</insert>
 	
  	
    </mapper>

  
  
<!--    SELECT_BY_USERID = "SELECT * FROM member WHERE user_id = ?"; -->
<!-- 	SELECT_ALL_IMAGES = "SELECT u.*, m.user_id FROM uploadedfile u, member m WHERE u.file_id = m.user_img";	 -->
<!-- 	INSERT_UPLOADEDFILE = "INSERT INTO uploadedfile (original_filename, ext, new_filename, file_size) VALUES (?, ?, ?, ?)"; -->
<!-- 	SELECT_FILE_ID = "SELECT file_id FROM uploadedfile WHERE new_filename = ?"; -->
<!-- 	INSERT_MEMBER_IMG = "INSERT INTO member (user_id, user_pwd, user_email, user_img, user_point) values (?, sha1(md5(?)), ?, ?, ?)"; -->
<!-- 	INSERT_MEMBER = "INSERT INTO member (user_id, user_pwd, user_email, user_point) values (?, sha1(md5(?)), ?, ?)"; -->
<!-- 	INSERT_POINTLOG = "INSERT INTO pointlog (point_type, change_point, user_id) values (? , ?, ?)"; -->
<!-- 	SELECT_ALL_MEMBERS = "SELECT user_id, user_email, regdate, user_img, user_point FROM member"; -->
<!-- 	SELECT_POINTLOG = "SELECT * FROM pointlog"; -->
<!-- 	SELECT_LOGIN_INFO = "SELECT m.*, u.new_filename FROM member m, uploadedfile u WHERE m.user_img = u.file_id and user_id = ? AND user_pwd = sha1(md5(?))"; -->
<!-- 	UPDATE_POINT_LOGIN = "UPDATE member SET user_point = user_point + ? WHERE user_id = ?"; -->
<!-- 	SELECT_USER_POINTLOG = "SELECT * FROM pointlog WHERE user_id = ? LIMIT ? , ?"; -->
<!-- 	SELECT_LOGIN_USER_INFO = "SELECT m.*, u.new_filename FROM member m, uploadedfile u WHERE m.user_img = u.file_id AND m.user_id = ?"; -->
	
<!-- 	UPDATE_USER_IMAGE = "UPDATE uploadedfile SET original_filename = ?, ext = ?, new_filename = ?, file_size = ?, base64String = ? WHERE file_id = ?"; -->
<!-- 	UPDATE_USER_PWD = "UPDATE member SET user_pwd = sha1(md5(?)) WHERE user_id = ?"; -->
<!-- 	UPDATE_USER_EMAIL = "UPDATE member SET user_email = ? WHERE user_id = ?"; -->

<!-- 	DELETE_UPLOADEDFILE = "DELETE FROM uploadedfile WHERE file_id =?"; -->
<!-- 	SELECT_TOTALPOST = "SELECT count(*) AS total_post FROM pointlog WHERE user_id = ?"; -->
<!-- 	UPDATE_USER_DELETE = "UPDATE member SET is_delete = 'Y' WHERE user_id = ?"; -->