<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproject.mappers.pointlogMapper">
  	
  	<insert id="insertPointlog">
  		INSERT INTO pointlog (point_type, change_point, user_id)
  		VALUES (#{pointType}, #{changePoint}, #{userId})
  	</insert>
  	
  	<select id="selectLastLogin" resultType="java.sql.Date">
		SELECT action_date AS 'last_login' FROM pointlog WHERE point_type = 'login' AND user_id = #{userId} ORDER BY pointlog_no DESC LIMIT 1
  	</select>

</mapper>
  
  
  
